<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<!--edge浏览器H5兼容设置-->
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<!--360浏览器H5兼容设置-->
		<meta name="renderer" content="webkit" />
		<title>Add passenager</title>
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<script src="../bootstrap3/js/holder.js"></script>
		<link href="../bootstrap3/css/bootstrap.css" rel="stylesheet" type="text/css">
		<script src="../js/jquery-1.9.1.min.js"></script>
		<script src="../bootstrap3/js/bootstrap.js"></script>
		<!-- <script src="../js/UsershowState.js" ></script> -->
		<!-- 字体图标 -->
		<link rel="stylesheet" href="../fontAwesome/css/all.css">
	    <link rel="stylesheet" href="../CSS/base.css">
		<link rel="stylesheet" href="../CSS/head.css">
		<link rel="stylesheet" href="../CSS/footer.css">
        <link rel="icon" href="../static/ICON.png" type="image/x-icon">

		<style>
			.qw{
				margin: 10px 0px;
			}

		</style>
	</head>

	<body>
		<!--头部-->
		<div class="top">
			<div class="mid w">
				<div class="logo"><a href="indexEnter.html"><img src="../static/logo.png" alt="logo"></a></div>
				<div class="user">
					<div id="tel"><i class="fa fa-phone"></i> TEL:88888888</div>
					<div></div>
					<form id="LogSignup">
						<div class="service"> <i class="fa fa-user"> </i>
							<a href="userdata.html"> <input id="userShow" type="button" name="userShow" value="renshouda" readonly="readonly"></a> </div>
						<div>|</div>
						<div class="service"> <input id="userOut" type="button" name="userOut" value="SIGN OUT" readonly="readonly"></div>
					</form>
				</div>
			</div>
		</div>
		<div class="secondmid w">
			<div><a href="javascript:;">Help and Contacts</a></div>
			<div class="SpecialOffer"><a id="qw" href="javascript:;">Special Offers</a>
				<div id="demo" class="secondBox">
					<div class="Voucher"><a href="javascript:;">Voucher</a> </div>
					<div class="speicals"><a href="javascript:;">Flight speicals</a></div>
				</div>
			</div>
			<div><a href="userdata.html">Manage</a></div>
			<div><a href="javascript:;">About Us</a></div>
		</div>
	

		<!--导航结束-->
		<div class="container">
			<div class="col-md-2">
				<!--左侧导航开始-->
				<div class="panel-group" id="accordion">
					<div class="panel panel-default">
						<div class="panel-heading">
							<!--主选项：我的订单-->
							<p class="panel-title">
								<a data-toggle="collapse" data-parent="#accordion" href="#collapseOne">My Booking</a>
							</p>
						</div>
					</div>
					<div class="panel panel-default">
						<div class="panel-heading">
							<!--主选项：资料修改-->
							<p class="panel-title">
								<a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">Profile Modification</a>
							</p>
						</div>
						<div id="collapseTwo" class="panel-collapse collapse in">
							<div class="panel-body">
								<div class="qw"><a href="password.html">Change Password</a></div>
								<div class="qw"><a href="userdata.html">My information</a></div>
								<div class="qw"><a href="upload.html">Upload Images</a></div>
								<div class="qw"><a href="passenager.html"><b>Passenger</b></a></div>
							</div>
						</div>
					</div>
				</div>
				<!--左侧导航结束-->
			</div>
			<div class="col-md-10">
				<div class="panel panel-default">
					<ul class="nav nav-tabs">
						<li><a href="password.html">Change Password</a></li>
						<li><a href="userdata.html">My information</a></li>
						<li><a href="upload.html">Upload Images</a></li>
						<li class="active"><a href="#">Passenger Management</a></li>
					</ul>
					<div class="panel-body">
						<form id="form-add-new-passenger" class="form-horizontal" role="form">
							<div class="form-group">
								<label class="col-md-2 control-label"><span class="txtred">*</span>Last Name</label>
								<div class="col-md-8">
									<input name="lastname" type="text" class="form-control" placeholder="please enter you last name">
								</div>
							</div>
							<div class="address_content" data-toggle="distpicker">
								<div class="form-group">



									
									<label class="col-md-2 control-label"><span class="txtred">*</span>Passport</label>
									<div class="col-md-3">
										<div >
											<input name="passport" type="text" class="form-control" >
										</div>
										<!-- <select id="province-list" name="provinceCode" class="form-control" data-province="---- 选择省 ----"></select> -->
									</div>
									<label class="col-md-2 control-label"><span class="txtred">*</span>Passport Expire</label>
									<div class="col-md-3">
										<input name="passportExpire" type="text" class="form-control" placeholder="dd/mm/yy">
									</div>
								</div>

								<div class="form-group">
									<label class="col-md-2 control-label"><span class="txtred">*</span>Email：</label>
									<div class="col-md-3">
										<input name="email" type="text" class="form-control" >
										<!-- <select id="area-list" name="areaCode" class="form-control" data-district="---- 选择区 ----"></select> -->
									</div>
									<label class="col-md-2 control-label">First Name：</label>
									<div class="col-md-3">
										<input name="firstname" type="text" class="form-control">
									</div>
								</div>
							</div>
							<div class="form-group">
					
							</div>
							<div class="form-group">
								<label class="col-md-2 control-label"><span class="txtred">*</span>Mobile Phone：</label>
								<div class="col-md-3">
									<input name="mobilePhone" type="text" class="form-control" placeholder="+44(0)7777777777">
								</div>
						
							</div>
							<div class="form-group">
								<label class="col-md-2 control-label"><a href="passenager.html">Return</a>&nbsp;&nbsp;&nbsp;</label>
								<div class="col-sm-10">
									<input id="btn-add-new-passenger" type="button" class="col-md-1 btn btn-primary" value="Save" />
									<input type="reset" class="col-md-offset-1 col-md-1 btn btn-primary" value="Reset" />
								</div>
							</div>
						</form>



					</div>
				</div>
			</div>
		</div>
		<!--footer-->
		<div class="superBottom">
			<div class="bottomMiddle w">
				<div class="bottomF">
					<div><a href="javascript:;">Help and contacts</a></div>
					<div class="mark">|</div>
					<div><a href="javascript:;">About Us</a></div>
					<div class="mark">|</div>
					<div><a href="javascript:;">Manage</a></div>
					<div class="mark">|</div>
					<div><a href="javascript:;">Special Offers</a></div>
					<div class="mark">|</div>
					<div><a href="javascript:;">Privacy policy</a></div>
					<div class="mark">|</div>
					<div><a href="javascript:;">Website security</a></div>
				</div>
				<!-- <div class="bottomS"></div> -->
				<div class="copyright">© Super Airways - all rights reserved</div>
				<div class="bottomImg"><img src="../static/logo.png" alt="logo"></div>
			   
			</div>
		</div>
		<!--footer-->

			<script type="text/javascript">

				$("#btn-add-new-passenger").click(function () {
					$.ajax({
						url:"/passengers/insert_passenger",
						type:"POST",
						data:$("#form-add-new-passenger").serialize(),
						dataType:"JSON",
						success : function(json){
							if(json.state==200){
								alert("save Succeed!");
								location.href="passenager.html";
							}else { alert("save Failed");}
						},
						error:function (xhr){
							alert("oops! An unknown error"+" "+xhr.message)
						}
					});
				});
			</script>
	</body>

</html>