<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<!--edge浏览器H5兼容设置-->
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<!--360浏览器H5兼容设置-->
		<meta name="renderer" content="webkit"/>
		<title>Profile My Password</title>
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<!--导入核心文件-->
		<script src="../bootstrap3/js/holder.js"></script>
		<link href="../bootstrap3/css/bootstrap.css" rel="stylesheet" type="text/css">
		<script src="../js/jquery-1.9.1.min.js"></script>
		<script src="../bootstrap3/js/bootstrap.js"></script>
		<!-- 字体图标 -->
		<!-- modified 11/11/2021 -->
	    <link rel="stylesheet" href="../CSS/base.css">
		<link rel="stylesheet" href="../CSS/head.css">
		<link rel="stylesheet" href="../CSS/footer.css">
        <link rel="icon" href="../static/ICON.png" type="image/x-icon">
	</head>
	<style>
		.qw{
			margin: 10px 0px;
		}
		#btn-change-password{
			background-color:brown;
		}
	</style>

	<body>
		<!--头部-->
		<div class="top">
			<div class="mid w">
				<div class="logo"><a href="./index.html"><img src="../static/logo.png" alt="logo"></a></div>
				<div class="user">
					<div id="tel"><i class="fa fa-phone"></i> TEL:88888888</div>
					<div></div>
					<div class="service"> <i class="fa fa-user"> </i><a href="../templates/LogIn.html"></i> LOG IN</a> </div>
					<div>/</div>
					<div class="service"> <a href="../templates/register.html"> REGISTER</a></div>
				</div>
			</div>
		</div>
		<div class="secondmid w">
			<div><a href="javascript:;">Help and Contacts</a></div>
			<div class="SpecialOffer"><a id="qw" href="javascript:;">Special Offers</a>
				<div id="demo" class="secondBox">
					<div class="Voucher"><a href="javascript:;">Voucher</a> </div>
					<div class="speicals"><a href="javascript:;">Flight speicals</a></div>
				</div>
			</div>
			<div><a href="userdata.html">Manage</a></div>
			<div><a href="javascript:;">About Us</a></div>
		</div>



		<!--头部结束-->
		<!--导航结束-->
		<div class="container">
			<div class="col-md-2">
				<!--左侧导航开始-->
				<div class="panel-group" id="accordion">
					<div class="panel panel-default">
						<div class="panel-heading">
							<!--主选项：我的订单-->
							<p class="panel-title">
								<a data-toggle="collapse" data-parent="#accordion" href=".//orders.html">My Booking</a>
							</p>
						</div>

					</div>
					<div class="panel panel-default">
						<div class="panel-heading">
							<!--主选项：资料修改-->
							<p class="panel-title">
								<a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">Profile Modification</a>
							</p>
						</div>
						<div id="collapseTwo" class="panel-collapse collapse in">
							<div class="panel-body">
								<div class="qw"><a href="password.html"><b>Change Password</b></a></div>
								<div class="qw"><a href="userdata.html">My information</a></div>
								<div class="qw"><a href="upload.html">Upload Images</a></div>
								<div class="qw"><a href="address.html">My Service</a></div>
							</div>
						</div>
					</div>
				</div>
				<!--左侧导航结束-->
			</div>
			<div class="col-md-10">
				<div class="panel panel-default">
					<ul class="nav nav-tabs">
						<li class="active"><a href="#">Change Password</a></li>
						<li><a href="userdata.html">My information</a></li>
						<li><a href="upload.html">Upload Images</a></li>
						<li><a href="address.html">My Service</a></li>
					</ul>
					<div class="panel-body">
						<!--修改密码表单开始-->
						<form id="form-change-password" class="form-horizontal" role="form">
							<div class="form-group">
								<label class="col-md-2 control-label">Old Password：</label>
								<div class="col-md-8">
									<input name="oldPassword" type="text" class="form-control" placeholder="please enter old password">
								</div>
							</div>
							<div class="form-group">
								<label class="col-md-2 control-label">New Password：</label>
								<div class="col-md-8">
									<input name="newPassword" type="text" class="form-control" placeholder="please enter new password">
								</div>
							</div>
							<div class="form-group">
								<label class="col-md-2 control-label">Confirm new password：</label>
								<div class="col-md-8">
									<input type="text" class="form-control" placeholder="please confirm new password">
								</div>
							</div>
							<div class="form-group">
								<div class="col-sm-offset-2 col-sm-10">
									<input id="btn-change-password" type="button" class="btn btn-primary" value="submit" />
								</div>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>





		<!--页脚开始-->
		<div class="superBottom">
			<div class="bottomMiddle w">
				<div class="bottomF">
					<div><a href="javascript:;">Help and contacts</a></div>
					<div class="mark">|</div>
					<div><a href="javascript:;">About Us</a></div>
					<div class="mark">|</div>
					<div><a href="javascript:;">Manage</a></div>
					<div class="mark">|</div>
					<div><a href="javascript:;">Special Offers</a></div>
					<div class="mark">|</div>
					<div><a href="javascript:;">Privacy policy</a></div>
					<div class="mark">|</div>
					<div><a href="javascript:;">Website security</a></div>
				</div>
				<!-- <div class="bottomS"></div> -->
				<div class="copyright">© Super Airways - all rights reserved</div>
				<div class="bottomImg"><img src="../static/logo.png" alt="logo"></div>
			   
			</div>
	
	
		</div>
		<!--页脚结束-->

		<script type="text/javascript">

			$("#btn-change-password").click(function () {
				$.ajax({
					// url前面可以省略端口号
					url:"/users/change_password",
					type:"POST",
					data:$("#form-change-password").serialize(),
					dataType:"JSON",
					success : function(json){
						if(json.state==200){
							alert("Change Succeed!");
						}else { alert("Change Failed");}
					},
					error:function (xhr){
						//弹出窗口
						alert("oops! An unknown error"+" "+xhr.message)
					}
				});
			});


		</script>
	</body>

</html>