<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<!--edge浏览器H5兼容设置-->
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<!--360浏览器H5兼容设置-->
		<meta name="renderer" content="webkit" />
		<title>Passenger Management</title>
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<!--导入核心文件-->
		<script src="../bootstrap3/js/holder.js"></script>
		<link href="../bootstrap3/css/bootstrap.css" rel="stylesheet" type="text/css">
		<script src="../js/jquery-1.9.1.min.js"></script>
		<script src="../bootstrap3/js/bootstrap.js"></script>
		<script src="../js/UsershowState.js" ></script>
		<!-- <script src="../js/UsershowState.js" ></script> -->
		<!-- 字体图标 -->
		<link rel="stylesheet" href="../fontAwesome/css/all.css">
	    <link rel="stylesheet" href="../CSS/base.css">
		<link rel="stylesheet" href="../CSS/head.css">
		<link rel="stylesheet" href="../CSS/footer.css">
        <link rel="icon" href="../static/ICON.png" type="image/x-icon">

		<style>
			.qw{
				margin: 10px 0px;
			}
			#addP{
				background-color:brown;
			}
			.superBottom{
				top:80%;
			}
		</style>
	</head>

	<body>
	<div class="top">
		<div class="mid w">
			<div class="logo"><a href="index.html"><img src="../static/logo.png" alt="logo"></a></div>
			<div class="user">
				<div id="tel"><i class="fa fa-phone"></i> TEL:88888888</div>
				<div></div>
				<form id="LogSignup">
					<div class="service"> <i class="fa fa-user"> </i>
						<a onclick="checkname()"> <input id="userShow" type="button" name="userShow" value="Log In" readonly="readonly"></a> </div>
					<div>|</div>
					<div class="service"><a onclick="checksignout()"><input id="userOutgg" type="button" name="userOut" value="SIGN UP" readonly="readonly"></a> </div>
				</form>
			</div>
		</div>
	</div>
	<div class="secondmid w">
		<div><a href="help.html">Help and Contacts</a></div>
		<div class="SpecialOffer"><a id="qw" href="Onsalesticket.html">On Sales</a>
		</div>
		<div><a href="userdata.html">Manage</a></div>
		<div><a href="allticket.html">All flights</a></div>
	</div>
		<!-- <head> -->
		<div class="container">
			<div class="col-md-2">
				<!--左侧导航开始-->
				<div class="panel-group" id="accordion">
					<div class="panel panel-default">
						<div class="panel-heading">
							<!--主选项：我的订单-->
							<p class="panel-title">
								<a data-toggle="collapse" data-parent="#accordion" href="#collapseOne">My Booking</a>
							</p>
						</div>
					</div>
					<div class="panel panel-default">
						<div class="panel-heading">
							<!--主选项：资料修改-->
							<p class="panel-title">
								<a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">Profile Modification</a>
							</p>
						</div>
						<div id="collapseTwo" class="panel-collapse collapse in">
							<div class="panel-body">
								<div class="qw"><a href="password.html">Change Password</a></div>
								<div class="qw"><a href="userdata.html">My information</a></div>
								<div class="qw"><a href="upload.html">Upload Images</a></div>
								<div class="qw"><a href="passenager.html"><b>Passenger</b></a></div>
							</div>
						</div>
					</div>
				</div>
				<!--左侧导航结束-->
			</div>
			<div class="col-md-10">
				<div class="panel panel-default">
					<ul class="nav nav-tabs">
						<li><a href="password.html">Change Password</a></li>
						<li><a href="userdata.html">My information</a></li>
						<li><a href="upload.html">Upload Images</a></li>
						<li class="active"><a href="#">Passenger Management</a></li>
					</ul>
					<div class="panel-body">
						<!--地址显示-->
						<table class="table table-striped">
							<caption>Passengers</caption>
							<thead>
								<tr>
									<th>First Name</th>
									<th>Second Name</th>
									<th>Passport</th>
									<th>Passport expire Day</th>
									<th colspan="4"></th>
								</tr>
							</thead>
							<tbody id="passenger-list">
							</tbody>
						</table>
						<a id="addP" href="addPassenager.html" class="btn btn-sm btn-primary"><span class="fa fa-plus"></span>Add New Passengers</a>
					</div>
				</div>
			</div>
		</div>
	

<!-- foot -->
		<div class="superBottom">
			<div class="bottomMiddle w">
				<div class="bottomF">
					<div><a href="javascript:;">Help and contacts</a></div>
					<div class="mark">|</div>
					<div><a href="javascript:;">About Us</a></div>
					<div class="mark">|</div>
					<div><a href="javascript:;">Manage</a></div>
					<div class="mark">|</div>
					<div><a href="javascript:;">Special Offers</a></div>
					<div class="mark">|</div>
					<div><a href="javascript:;">Privacy policy</a></div>
					<div class="mark">|</div>
					<div><a href="javascript:;">Website security</a></div>
				</div>
				<!-- <div class="bottomS"></div> -->
				<div class="copyright">© Super Airways - all rights reserved</div>
				<div class="bottomImg"><img src="../static/logo.png" alt="logo"></div>
			   
			</div>
	
	
		</div>

	<script type="text/javascript" >
		$(document).ready(function () {
			showPassengerList();
		});
		function showPassengerList(){
			$.ajax({
				url:"/passengers/",
				type:"POST",
				dataType:"JSON",
				success : function(json){
					if(json.state==200){
						let list = json.data;
						console.log(list);
						for (let i = 0; i < list.length; i++) {
							let tr = "<tr>\n" +
									"\t\t\t\t\t\t\t\t\t<td>shouda</td>\n" +
									"\t\t\t\t\t\t\t\t\t<td>ren</td>\n" +
									"\t\t\t\t\t\t\t\t\t<td>Ev345</td>\n" +
									"\t\t\t\t\t\t\t\t\t<td>11/23/2021</td>\n" +
									"\t\t\t\t\t\t\t\t\t<td><a class='btn btn-xs btn-info'><span class='fa fa-edit'></span> Modify</a></td>\n" +
									"\t\t\t\t\t\t\t\t\t<td><a onclick='deletePassenger(#{passengerId}) ' class='btn btn-xs add-del btn-info'><span class='fa fa-trash-o'></span> Delete</a></td>\n" +
									"\t\t\t\t\t\t\t\t\t<td><a onclick='setDefault(#{passengerId})' class='btn btn-xs add-def btn-default'>Set Default</a></td>\n" +
									"\t\t\t\t\t\t\t\t</tr>";
							tr = tr.replace(/shouda/g,list[i].firstname);
							tr = tr.replace(/ren/g,list[i].lastname);
							tr = tr.replace("Ev345",list[i].passport);
							tr = tr.replace("11/23/2021",list[i].passportExpire);
							//把pid存进tr里
							tr = tr.replace("#{passengerId}",list[i].passengerId);
							$("#passenger-list").append(tr);
						}
						// the first one is default
						$(".add-def:eq(0)").hide();
					}else { alert("Load failed");}
				}

			});
		}

       //set default
	  function setDefault(passengerId){
		  $.ajax({
			  // url前面可以省略端口号
			  url:"/passengers/"+passengerId+"/set_default" ,
			  type:"POST",
			  //数据通过restful风格提交 因此不需要数据
			  dataType:"JSON",
			  success : function(json){
				  if(json.state==200){
					  alert("Set Succeed!");
					  //refresh page
					  location.href="passenager.html";
				  }else { alert("Set Failed");}
			  },
			  error:function (xhr){
				  //弹出窗口
				  alert("oops! An unknown error"+" "+xhr.message)
			  }
		  });
	  }
	  //delete
		function deletePassenger(passengerId){
			$.ajax({
				// url前面可以省略端口号
				url:"/passengers/"+passengerId+"/delete" ,
				type:"POST",
				//数据通过restful风格提交 因此不需要数据
				dataType:"JSON",
				success : function(json){
					if(json.state==200){
						alert("Delete Succeed!");
						//refresh page
						location.href="passenager.html";
					}else { alert("Delete Failed");}
				},
				error:function (xhr){
					//弹出窗口
					alert("oops! An unknown error"+" "+xhr.message)
				}
			});
		}
	</script>




	<script src="../js/User.js"></script>

	</body>

</html>