<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">

    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <meta name="renderer" content="webkit" />
    <title>My Reference Details</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <script src="../bootstrap3/js/holder.js"></script>
    <link href="../bootstrap3/css/bootstrap.css" rel="stylesheet" type="text/css">
    <script src="../js/jquery-1.9.1.min.js"></script>
    <script src="../js/UsershowState.js" ></script>

    <!-- modified 11/11/2021 -->
    <link rel="stylesheet" href="../fontAwesome/css/all.css">
    <link rel="stylesheet" href="../CSS/base.css">
    <link rel="stylesheet" href="../CSS/head.css">
    <link rel="stylesheet" href="../CSS/footer.css">
    <link rel="icon" href="../static/ICON.png" type="image/x-icon">

    <style>

        #se {
            font-weight: bolder;
            font-size: larger;
            display: block;
            margin-top: 40px;

        }
        .myService {
            float: left;
            margin: 15px 15px;
            position: relative;
        }
        #servicePart{
            height: 300px;
            width: 100%;
        }
        .superBottom{
            top: 150%;
        }

        #mySeat{
            width: 70px;
        }

        input
        {
            color: black;
            outline: none;
            border: none;
        }
        input:hover{
            color: black;
            cursor: text;
        }

        #allPrice input{
            width: 50px;
        }

        #form-create-order th,  #form-create-order td{
            text-align: center;
        }

        .changeckService{
            float: right;
            margin: 0px 10px;
        }
        .changeckService button{
            cursor: pointer;
            background: #0c52a4;
            color: whitesmoke;
        }

        .info{
            width: 100%;
            height: 90px;
            margin-top: 10px;
            border-bottom: #0c52a4 5px solid;
        }
        .titlemini{
            width: 100%;
            height: 40px;
            margin-top: 10px;
            color: #a94442;
            font-weight: bolder;
            font-size: 25px;
        }

        #ClassType{
            height: 40px;
            font-weight: bolder;
            font-size: 20px;

        }


        .cart-table{
            margin-left: -15px;
        }

        #allPrice{
            color: #a94442;
            margin-left: 500px;
            margin-bottom: 30px;
            font-weight: bolder;
            line-height: 30px;

        }

        #allPrice input{
            color: #a94442;
            text-align: center;
            line-height: 30px;
        }
    </style>
</head>

<body>
<div class="top">
    <div class="mid w">
        <div class="logo"><a href="index.html"><img src="../static/logo.png" alt="logo"></a></div>
        <div class="user">
            <div id="tel"><i class="fa fa-phone"></i> TEL:88888888</div>
            <div></div>
            <form id="LogSignup">
                <div class="service"> <i class="fa fa-user"> </i>
                    <a onclick="checkname()"> <input id="userShow" type="button" name="userShow" value="Log In" readonly="readonly"></a> </div>
                <div>|</div>
                <div class="service"><a onclick="checksignout()"><input id="userOutgg" type="button" name="userOut" value="SIGN UP" readonly="readonly"></a> </div>
            </form>
        </div>
    </div>
</div>
<div class="secondmid w">
    <div><a href="help.html">Help and Contacts</a></div>
    <div class="SpecialOffer"><a id="qw" href="Onsalesticket.html">On Sales</a>
    </div>
    <div><a href="userdata.html">Manage</a></div>
    <div><a href="allticket.html">All flights</a></div>
</div>
<div class="container">
    <div class="col-md-offset-1 col-md-10">

        <div class="col-md-12">
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <p class="panel-title">Ticket Details：</p>
                    </div>
                    <div class="panel-body">

                        <div class="info" id="thePassenger">
                            <span class="titlemini">Passenger: </span>
                            <p>#{First}&nbsp;&nbsp;&nbsp;#{second}&nbsp;&nbsp;&nbsp;#{Passport}</p>
                        </div>
                  <div class="titlemini">My Flight:</div>
                        <div  id="ClassType">
                            <span>#{economy} class</span>
                        </div>
                        <form id="form-create-order" role="form">
                        <table class="cart-table" width="100%">
                            <thead>
                            <tr>
                                <th width="10%">Airline</th>
                                <th width="8%">Flight Number</th>
                                <th width="10%">Day</th>
                                <th width="14%">Departure Time</th>
                                <th width="12%">Arrival Time</th>
                                <th width="8%">From</th>
                                <th width="8%">To</th>
                                <th width="13%">Entertainment</th>
                                <th width="8%">Transit City</th>
                            </tr>
                            </thead>
                            <tbody id="cart-list">
                            <tr>
                                <td>British Airways</td>
                                <td>GP2312</td>
                                <td>11/11/2021</td>
                                <td>11;25AM</td>
                                <td>12:50pm</td>
                                <td>London</td>
                                <td>Shanghai</td>
                                <td>Normal</td>
                                <td>TC</td>
                            </tr>
                            </tbody>
                        </table>
                        </form>
                        <p id="se"  class="titlemini">My Service：</p>
                        <form id="myServiceBooking">
                            <div id="servicePart">
                                <div class="myService"><label>My Seat:</label>
                                  <input name="mySeat" id="mySeat" value="seat" readonly="readonly">
                                </div>
                                <div class="myService"><label>Meals:</label>
                                    <input name="meals" id="meals" value="Meals" readonly="readonly">
                                </div>
                                <div class="myService"><label>Airport Pickup:</label>
                                    <input name="pickup" id="pickup" value="pickup" readonly="readonly">
                                </div>
                                <div class="myService"><label>Transit Lounge:</label>
                                    <input name="transitLounge" id="transitLounge" value="transitLounge" readonly="readonly">
                                </div>
                                <div class="myService"><label>Special Services:</label>
                                    <input name="specialServices" id="specialServices" value="specialServices" readonly="readonly">
                                </div>
                                <div class="myService"><label>Transit Hotel:</label>
                                    <input name="transitHotel" id="transitHotel" value="transitHotel" readonly="readonly">
                                </div>
                                <div class="myService"><label>Extra Luggage:</label>
                                    <input name="extraLuggage" id="extraLuggage" value="extraLuggage" readonly="readonly">
                                </div>
                            </div>
                            <div id="allPrice">
                                <span>All Price: </span> <input readonly="readonly" name="totalPrice" id="totalPrice" value="3333"><span>GBP</span>
                            </div>
                        </form>

                        <div id="changePart">
                            <div id="changeService" class="changeckService"><button id="Payse">Pay Online</button></div>


                        </div>
                    </div>
                </div>
                <div class="pay-bar">
                    <a href="Unpaid.html">Return</a>
                </div>

        </div>
    </div>
</div>

<!--  footer-->
<div class="superBottom">
    <div class="bottomMiddle w">
        <div class="bottomF">
            <div><a href="javascript:;">Help and contacts</a></div>
            <div class="mark">|</div>
            <div><a href="javascript:;">About Us</a></div>
            <div class="mark">|</div>
            <div><a href="userdata.html">Manage</a></div>
            <div class="mark">|</div>
            <div><a href="Onsalesticket.html">Special Offers</a></div>
            <div class="mark">|</div>
            <div><a href="javascript:;">Privacy policy</a></div>
            <div class="mark">|</div>
            <div><a href="javascript:;">Website security</a></div>
        </div>
        <!-- <div class="bottomS"></div> -->
        <div class="copyright">© Super Airways - all rights reserved</div>
        <div class="bottomImg"><img src="../static/logo.png" alt="logo"></div>

    </div>
</div>


<!--SHOW passenger and flight-->
<script type="text/javascript" >
    $(document).ready(function () {
        showService();
        showFlight();
        showPassengerList();
        showClass();

    });
       function showClass(){
           $.ajax({
               url:"/allMyBooking/getService",
               type:"get",
               dataType:"JSON",
               success : function(json){
                   if(json.state==200){
                       $("#ClassType").empty();
                       let list=json.data;
                       let myclass= '<span>#{economy} class</span>';
                       myclass=myclass.replace(/#{economy}/d,list.classType);
                       $("#ClassType").append(myclass);

                   }else { alert("Load failed");}
               }

           });

     }

    function   showFlight(){
        $("#cart-list").empty();
        $.ajax({
            url:"/allMyBooking/getFlight",
            type:"get",
            dataType:"JSON",
            success : function(json){
                if(json.state==200){
                    let list = json.data;
                        let tr ='<tr>\n' +
                            '                                <td>BritishAirways</td>\n' +
                            '                                <td>GP2312</td>\n' +
                            '                                <td>day</td>\n' +
                            '                                <td>time1</td>\n' +
                            '                                <td>time2</td>\n' +
                            '                                <td>London</td>\n' +
                            '                                <td>Shanghai</td>\n' +
                            '                                <td>Normal</td>\n' +
                            '                                <td>TC</td>\n' +
                            '                            </tr>';

                        tr = tr.replace(/BritishAirway/g,list.company);
                        tr = tr.replace(/GP2312/g,list.flightName);
                        tr = tr.replace(/day/g,list.flightDay);
                        tr = tr.replace(/time1/g,list.takeOffTime);
                        tr = tr.replace(/time2/g,list.fallingOffTime);
                        tr = tr.replace(/London/g,list.fromLocation);
                        tr = tr.replace(/Shanghai/g,list.toLocation);
                        tr = tr.replace(/Normal/g,list.entertainment);
                        tr = tr.replace(/TC/g,list.stayCity);
                        console.log(tr);
                        $("#cart-list").append(tr);

                }else { alert("Load failed");}
            }

        });
    }
    function  showPassengerList(){
        $("#thePassenger").empty();
        $.ajax({
            url:"/allMyBooking/getPassenger",
            type:"POST",
            dataType:"JSON",
            success : function(json){
                if(json.state==200){
                    let list = json.data;
                        let opt ='  <span class="titlemini">Passenger: </span>\n' +
                            '    <p>First Name: #{First}&nbsp;&nbsp;&nbsp;Second Name: #{second}&nbsp;&nbsp;&nbsp;Passport: #{Passport}</p>';
                        opt=opt.replace(/#{First}/d,list.firstname);
                        opt=opt.replace(/#{second}/d,list.lastname);
                        opt= opt.replace(/#{Passport}/d,list.passport);
                        $("#thePassenger").append(opt);

                }else { alert("load Failed");}
            }
        });
    }
  function  showService(){
      $.ajax({
          url:"/allMyBooking/getService",
          type:"get",
          data:$("#myServiceBooking").serialize(),
          dataType:"JSON",
          success : function(json){

              if (json.state == 200) {
                  $("#mySeat").val(json.data.mySeat);
                  $("#meals").val(json.data.meals);
                  $("#pickup").val(json.data.pickup);
                  $("#transitLounge").val(json.data.transitLounge);
                  $("#specialServices").val(json.data.specialServices);
                  $("#transitHotel").val(json.data.transitHotel);
                  $("#extraLuggage").val(json.data.extraLuggage);
                  $("#totalPrice").val(json.data.totalPrice);
              } else {
                  alert("data does not exist");
              }
          }
      });
  }
</script>
<!--show user's service-->
<script type="text/javascript">
    $(document).ready(function(){
        $.ajax({
            url:"/allMyBooking/getService",
            type:"get",
            data:$("#myServiceBooking").serialize(),
            dataType:"JSON",
            success : function(json){
                if(json.state==200){
                    $("#mySeat").val(json.data.mySeat);
                    $("#meals").val(json.data.meals);
                    $("#pickup").val(json.data.pickup);
                    $("#transitLounge").val(json.data.transitLounge);
                    $("#specialServices").val(json.data.specialServices);
                    $("#transitHotel").val(json.data.transitHotel);
                    $("#extraLuggage").val(json.data.extraLuggage);
                }else { alert("data does not exist");}
            }
        });
    });
</script>
<!--delete-->
<script type="text/javascript">

    $("#Payse").click(function () {
        let result =confirm("Do you want to pay?");
        if (result){

            location.href="payPage3.html";
        }
    });

</script>











<!--show user's information-->
<script src="../js/User.js"></script>
</body>

</html>