<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="../js/jquery-1.9.1.min.js"></script>
</head>
<body>

<form id="myServiceBooking">
    <div id="servicePart">
        <div class="myService"><label>choose a seat</label>
            <select name="mySeat" id="mySeat" >
                <option value="1A">1A</option>
                <option value="1B">1B</option>
                <option value="1C">1C</option>
                <option value="1D">1D</option>
                <option value="1E">1E</option>
                <option value="1F">1F</option>
                <option value="2A">2A</option>
                <option value="2B">2B</option>
                <option value="2C">2C</option>
                <option value="2D">2D</option>
                <option value="2E">2E</option>
                <option value="2F">2F</option>
                <option>3A</option>
                <option>3B</option>
                <option>3C</option>
                <option>3D</option>
                <option>3E</option>
                <option>3F</option>
                <option>4A</option>
                <option>4B</option>
                <option>4C</option>
                <option>4D</option>
                <option>4E</option>
                <option>4F</option>
            </select>
        </div>

        <div class="myService"><label>Meal Request</label>
            <select name="meals" id="meals">
                <option>None</option>
                <option>Chicken 5GBP</option>
                <option>Muslim 0GBP</option>
                <option>Lamb Chops 10GBP</option>
                <option>Fish and Chips 7GBP</option>
                <option>Steak 12GBP</option>
                <option>Parkin 6GBP</option>
            </select>
        </div>

        <div class="myService"><label>Airport Pickup</label>
            <select name="pickup" id="pickup">
                <option>None</option>
                <option>Mercedes 50GBP</option>
                <option>Porsche 60GBP</option>
                <option>Maserati 70GBP</option>
                <option>Volkswagen 80GBP</option>
            </select>
        </div>

        <div class="myService"><label>Transit Lounge</label>
            <select name="transitLounge" id="transitLounge">
                <option>None</option>
                <option>Normal 49GBP</option>
                <option>Vip 100GBP</option>
            </select>
        </div>

        <div class="myService"><label>Special Services</label>
            <p id="phone">Please contact us to book more (Tel:88888888)</p>
            <select name="specialServices" id="specialServices">
                <option>None</option>
                <option>Infant Bassinet</option>
                <option>Wheelchair Boarding</option>
                <option>Ground Boarding</option>
                <option>Visual Impairment</option>
                <option>Hearing Impairment</option>
                <option>Pets</option>
            </select>
        </div>

        <div class="myService"><label>Transit Hotel</label>
            <select name="transitHotel" id="transitHotel">
                <option>None</option>
                <option>Offical Hotel 0GBP</option>
                <option>Sheraton 100GBP</option>
                <option>Hilton 200GBP</option>
                <option>Express Hotel 50GBP</option>
            </select>
        </div>

        <div class="myService"><label>Extra Luggage</label>
            <select name="extraLuggage" id="extraLuggage">
                <option>None</option>
                <option>10KG 30GBP</option>
                <option>20KG 50GBP</option>
                <option>40KG 70GBP</option>
            </select>
        </div>
    </div>
</form>

<script type="text/javascript">
    console.log($("#myServiceBooking").serialize());
</script>
</body>
</html>