<!DOCTYPE html>
<html>
<head>
    <title>Ajax Country State Select List</title>
    <style type="text/css">
        #state-select,#city-select{
            display: none;
        }
    </style>
</head>
<body>
<div id="form">
    <h2>Select the Country & State</h2>
    <select id="country-select">
        <option selected>Please Select Country</option>
            <option value="ind">India></option>
            <option value="usa">USA></option>
            <option value="uk">UK></option>
            <option value="aus">Australia></option>
    </select>
    <select id="state-select">

    </select>
    <select id="city-select">

    </select>
</div>
</body>
</html>