<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.cy.myProject.Mapper.MybookingMapper">
   <resultMap id="MybookingMap" type="com.cy.myProject.entity.MyBooking">
       <id column="reference" property="reference"></id>

       <result column="created_user" property="createdUser"></result>
       <result column="created_time" property="createdTime"></result>
       <result column="modified_user" property="modifiedUser"></result>
       <result column="modified_time" property="modifiedTime"></result>
   </resultMap>


    <insert id="insertBookingDetail" useGeneratedKeys="true" keyProperty="reference">

        INSERT INTO t_myallbook (
            reference,
            uid,
            flightId,
            passengerId,
            mySeat,
            classPrice,
            meals,
            pickup,
            transitHotel,
            transitLounge,
            specialServices,
            preSeat,
            totalPrice,
            payStatus,
            extraLuggage,
            isDelete,
            created_user,
            created_time,
            modified_user,
            modified_time,
            mealPrice,
            pickupPirce,
            hotelPrice,
            loungePrice,
            luggagePrice,
            classType,
        )VALUES(
                  #{reference},
                  #{uid},
                  #{flightId},
                  #{passengerId},
                  #{mySeat},
                  #{classPrice},
                  #{meals},
                  #{pickup},
                  #{transitHotel},
                  #{transitLounge},
                  #{specialServices},
                  #{preSeat},
                  #{totalPrice},
                  #{payStatus},
                  #{extraLuggage},
                   #{isDelete},
                   #{createdUser},
                   #{createdTime},
                   #{modifiedUser},
                   #{modifiedTime},
                   #{mealPrice},
                   #{pickupPirce},
                   #{hotelPrice},
                   #{loungePrice},
                   #{luggagePrice},
                   #{classType},
                   )
    </insert>

    <select id="findServiceByRef" resultMap="MybookingMap">
        select * from t_myallbook where reference=#{reference}
    </select>

    <update id="updateServicePrice">
        update t_myallbook set  mealPrice =#{mealPrice},
                               pickupPirce=#{pickupPirce},
                               hotelPrice=#{hotelPrice},
                                loungePrice=#{loungePrice},
                                luggagePrice= #{luggagePrice}
        where reference=#{reference}
    </update>

    <select id="getAllPriceByReference" resultType="java.lang.Integer" >
 SELECT sum(classPrice+mealPrice+pickupPirce+hotelPrice+luggagePrice+loungePrice)
 from t_myallbook where reference=#{reference}
    </select>

    <update id="updateAllPriceToDataBase">
        update t_myallbook set totalPrice= #{totalPrice} where reference=#{reference}
    </update>


    <update id="upatePassengerIdToDatebase">
        update t_myallbook set passengerId= #{passengerId} where reference=#{reference}
    </update>

    <update id="updatePaymentStatus">
        update t_myallbook set payStatus= #{payStatus} where reference=#{reference}
    </update>

    <select id="FindallMyBookingByUid"  resultMap="MybookingMap">
        select * from t_myallbook where  uid= #{uid} and payStatus=1
    </select>

    <update id="updateClassType">
        update t_myallbook set classType= #{classType} where reference=#{reference}

    </update>


    <delete id="deleteByRef">
        delete from t_myallbook where reference=#{reference}
    </delete>

    <update id="updateServiceByRef">
        update t_myallbook set   meals= #{meals},
                                 pickup= #{pickup},
                                 transitHotel= #{transitHotel},
                                 transitLounge= #{transitLounge},
                                 specialServices= #{specialServices},
                                 extraLuggage= #{extraLuggage}
        where reference=#{reference}
    </update>

    <update id="ChangeServicePrice">
        update t_myallbook set isDelete= #{isDelete} where reference=#{reference}
    </update>
</mapper>