<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.cy.myProject.Mapper.passengerMapper">
   <resultMap id="passengerMap" type="com.cy.myProject.entity.Passenger">
       <id column="passengerId" property="passengerId"></id>
       <result column="is_default" property="isDefault"></result>
       <result column="created_user" property="createdUser"></result>
       <result column="created_time" property="createdTime"></result>
       <result column="modified_user" property="modifiedUser"></result>
       <result column="modified_time" property="modifiedTime"></result>
   </resultMap>


    <insert id="insert" useGeneratedKeys="true" keyProperty="passengerId">

        INSERT INTO t_passenger (
                                 passengerId,
                                 uid,
                                 lastname,
                                 firstname,
                                 passport,
                                 passportExpire,
                                 email,
                                 mobilePhone,
                                 is_default,
                                 is_delete,
                                 created_user,
                                 created_time,
                                 modified_user,
                                 modified_time
        )VALUES(

                   #{passengerId},
                   #{uid},
                   #{lastname},
                   #{firstname},
                   #{passport},
                   #{passportExpire},
                   #{email},
                   #{mobilePhone},
                   #{isDefault},
                   #{isDelete},
                   #{createdUser},
                   #{createdTime},
                   #{modifiedUser},
                   #{modifiedTime}
                   )
    </insert>

    <select id="countByUid" resultType="java.lang.Integer" >
        select count(*) from t_passenger where uid=#{uid}
    </select>

    <select id="findpassengerByUid" resultMap="passengerMap" >
        select * from t_passenger where uid=#{uid}
       order by is_default DESC,  created_time DESC
    </select>

    <update id="updateNonDefault">
        update t_passenger set is_default=0 where uid=#{uid}
    </update>

    <update id="updateDefaultPassengerByPid">
        update t_passenger
        set is_default=1, modified_user=#{modifiedUser},modified_time=#{modifiedTime}
        where  passengerId =#{passengerId}
    </update>

<!--    查询-->
    <select id="findPassengerExistByPid"  resultMap="passengerMap">
        select * from t_passenger where passengerId =#{passengerId}
    </select>

    <delete id="deleteByPid">
        delete from t_passenger where passengerId =#{passengerId}
    </delete>

    <select id="findlastModified"  resultMap="passengerMap">
        select * from t_passenger
where uid=#{uid}
order by  modified_time DESC limit 0,1
    </select>
</mapper>