<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="com.cy.myProject.Mapper.PickUpMapper">
    <resultMap id="PickupEntityMap" type="com.cy.myProject.entity.Pickup">

        <id column="pkId" property="pkId"></id>
        <result column="name" property="name"></result>
        <result column="price" property="price"></result>

    </resultMap>
    <select id="getcarByname" resultMap="PickupEntityMap">
        select * from t_pickup where name=#{name}
    </select>

</mapper>