<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--用于指定当前映射文件和哪个接口进行映射，需要指定接口的文件路径，需要标注包的完整路径接口-->
<mapper namespace="com.cy.myProject.Mapper.UserMapper">
<!--    自定义映射规则 用resultMap标签完成映射规则-->
<!--    resultMapd的 id属性：给这个映射分配唯一的id，对应resulmap=“id属性的值”的取值-->
<!--    type属性：对数据库的查询的结果与java对象的哪一个实体类进行映射-->
    <resultMap id="UserEntityMap" type="com.cy.myProject.entity.User">
<!--        将表的资源和类的属性不一致的字段进行匹配指定，名称一致的字段可以省略不写-->
<!--        一个result是一个映射 column: 表的列  property: user类的属性-->
        <id column="uid" property="uid"></id>
<!--        在定义映射规则是主键不能省略-->
        <result column="is_delete" property="isDelete"></result>
        <result column="created_user" property="createdUser"></result>
        <result column="created_time" property="createdTime"></result>
        <result column="modified_user" property="modifiedUser"></result>
        <result column="modified_time" property="modifiedTime"></result>

    </resultMap>


<!--   id,表示映射的接口中方法的名称，直接在标签的内容部来编写SQL语句-->
<!--    useGeneratedKeys：表示开启某个字段的值递增（一般都是主键）-->
<!--    keyProperty：告诉是具体是哪个属性-->
    <insert id="insert" useGeneratedKeys="true" keyProperty="uid">
        INSERT INTO t_user (uid,
                                username,
                                password,
                                salt,
                                phone,
                                email,
                                gender,
                                avatar,
                                is_delete,
                                created_user,
                                created_time,
                                modified_user,modified_time,signstatus
        )VALUES(
--                  来自于前端user对象的值（这些字段在是数据库） 前端id， 下面的语法代表从前端选取的字段
            #{uid},
            #{username},
            #{password},
            #{salt},
            #{phone},
            #{email},
            #{gender},
            #{avatar},
            #{isDelete},
            #{createdUser},
            #{createdTime},
            #{modifiedUser},
            #{modifiedTime},
            #{signstatus})
    </insert>
<!--    查询   select 语句在执行的时候，查询的结果是一个对象，或多个对象-->
<!--    UserEntityMap 和上面映射id一样-->
    <select id="findByUsername" resultMap="UserEntityMap">
        SELECT * FROM t_user WHERE username = #{username}
    </select>

<!--    所有方法里变量都要用上-->
    <update id="updatePasswordByUid">
        UPDATE  t_user SET password = #{password},
                           modified_user = #{modifiedUser},
                           modified_time = #{modifiedTime},
                           where uid = #{uid}

    </update>

    <select id="findByUid" resultMap="UserEntityMap">
        SELECT * FROM t_user WHERE uid = #{uid}
    </select>

<!--    if表示条件标签，test属性接受返回值为boolean类型的条件iftest
                              的条件为true则执行if内的语句, 记得包，包括进去-->
    <update id="updateInfoByUid">
        UPDATE  t_user SET <if test="phone!=null">phone= #{phone},</if>
                           <if test="email!=null"> email= #{email},</if>
                           <if test="gender!=null"> gender= #{gender},</if>
                           modified_user = #{modifiedUser},
                           modified_time = #{modifiedTime}
        where uid = #{uid}
    </update>


    <!--    update avatar-->
    <update id="updateAvatarByuid">
        UPDATE  t_user SET
                           avatar =  #{avatar},
                           modified_user = #{modifiedUser},
                           modified_time = #{modifiedTime}
        where uid = #{uid}
    </update>


     <update id="updatesignOutByuid">
         update   t_user SET signstatus = "Sign Out" where  username = #{username}
     </update>
</mapper>